<h1>Available Products</h1>

<table>
  <thead>
    <tr>

      <th>Category</th>
      <th>Price</th>
      <th>Status</th>

    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>

        <td><%= product.category %></td>
        <td><%= number_to_currency(product.price )%></td>


        <td><%= product.low %></td>


        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
