<p id="notice"><%= notice %></p>



<p>
  <strong>Category:</strong>
  <%= @product.category %>

</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
</center>
<p>
  <strong>Quantity InStock:</strong>
  <%= @product.quantityInStock  %>


</p>



<%@product.shipments.each do |shipment| %>

    <strong>Shipment Quantity:</strong>
    <p><%=shipment.quantity %></p>
    <p><%=number_to_currency(shipment.quantity * @product.price) %></p>
    <strong>Date of shipment:</strong>
    <p><%=shipment.DateIn %></p>

    <% end %>

<%@product.sales.each do |sale| %>

    <strong>Sales:</strong>
    <p><%=sale.quantity %></p>
    <p><%=number_to_currency(sale.quantity * @product.price) %></p>
    <strong>Date of sale:</strong>
    <p><%=sale.dateOut %></p>

<% end %>









<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

