<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @shipment.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @shipment.quantity %>
</p>

<p>
  <strong>Datein:</strong>
  <%= @shipment.DateIn %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
