<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sale.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>SaleRevenue:</strong>
  <%= @sale.saleRevenue %>
</p>

<p>
  <strong>Date Sold:</strong>
  <%= @sale.dateOut %>
</p>




<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
