<h1>Report</h1>

<table>
  <thead>
  <tr>
    <th>Total Gross Revenue</th>
    <th>Average Week Yearly</th>
    <th>Total Sales</th>

  </tr>
  </thead>

  <tbody>



  <% @reports.each do |report| %>
      <tr>
        <td><%= number_to_currency(report.total_gross_revenue) %></td>
        <td><%= report.week_avg_sold %></td>
        <td><%= report.total_sold %></td>



      </tr>


  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
