<!DOCTYPE html>
<html>
<head>
  <title>Taylor's Inventory</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><center>Taylor's Inventory</center></h1>
<p>WELCOME to my Inventory Project!</p>
<hr><center>
<%=link_to "Products", products_path %>
<%=link_to "Shipments", shipments_path %>
<%=link_to "Sales", sales_path %>
<%=link_to "Reports", reports_path %>
 </center><hr>


<%= yield %>

</body>
</html>